# Part 1: Acquisition and Flexible Formatting

In [56]:
import csv
import json

## Task 1: Create the Tabular CSV Data (Requires Cleaning)

In [57]:
#create a CSV file
data = [
    {"student_id": 12379, "major": "CS", "GPA": 3.2, "is_cs_major": True, "credits_taken": 16.0},
    {"student_id": 12380, "major": "Math", "GPA": 3, "is_cs_major": False, "credits_taken": 13.0},
    {"student_id": 12381, "major": "CS", "GPA": 2.1, "is_cs_major": 'Yes', "credits_taken": '15.0'},
    {"student_id": 12382, "major": "History", "GPA": 1, "is_cs_major": 'No', "credits_taken": '9.0'},
    {"student_id": 12383, "major": "Statistics", "GPA": 4.0, "is_cs_major": False, "credits_taken": 18.0},
]

with open('raw_survey_data.csv', 'w', newline='') as csvfile: 
    fieldnames = ['student_id','major','GPA','is_cs_major','credits_taken']
    writer = csv.DictWriter(csvfile,fieldnames=fieldnames) #this is a object
    writer.writeheader()
    writer.writerows(data)

## Task 2: Create the Hierarchical JSON Data (Requires Normalization)

In [66]:
#create the JSON file
courses = [
  {
    "course_id": "DS2002",
    "section": "001",
    "title": "Data Science Systems",
    "level": 200,
    "instructors": [
      {"name": "Austin Rivera", "role": "Primary"}, 
      {"name": "Heywood Williams-Tracy", "role": "TA"} 
    ]
  },
  {
    "course_id": "STAT4630",
    "section": "001",
    "title": "Statistical Machine Learning",
    "level": 400,
    "instructors": [
      {"name": "Shan Yu", "role": "Primary"}
    ]
  },
  {
    "course_id": "STAT4170",
    "section": "001",
    "title": "Financial Time Series",
    "level": 400,
    "instructors": [
      {"name": "Jeffrey Woo", "role": "Primary"}
    ]
  },
  {
   "course_id": "STAT3130",
    "section": "001",
    "title": "Design and Analysis of Sample Surveys",
    "level": 300,
    "instructors": [
      {"name": "Justin Weinstock", "role": "Primary"}
    ]   
  }
]

json_string = json.dumps(courses, indent = 4)
with open("raw_course_catalog.json","w") as file:
    file.write(json_string)

# Part 2: Data Validation and Type Casting

## Task 3: Clean and Validate the CSV Data

In [59]:
#load the necessary libraries
import pandas as pd

In [60]:
#load raw_survey_data.csv
survey_df = pd.read_csv("raw_survey_data.csv")
survey_df.head()

   student_id       major  GPA is_cs_major  credits_taken
0       12379          CS  3.2        True           16.0
1       12380        Math  3.0       False           13.0
2       12381          CS  2.1         Yes           15.0
3       12382     History  1.0          No            9.0
4       12383  Statistics  4.0       False           18.0

In [61]:
#change the values is_cs_major
survey_df["is_cs_major"] = survey_df["is_cs_major"].replace({"Yes": True, "No": False})

In [62]:
#enforce the numeric types
survey_df = survey_df.astype({'credits_taken':'float64','GPA':'float64'})
survey_df

   student_id       major  GPA is_cs_major  credits_taken
0       12379          CS  3.2        True           16.0
1       12380        Math  3.0       False           13.0
2       12381          CS  2.1        True           15.0
3       12382     History  1.0       False            9.0
4       12383  Statistics  4.0       False           18.0

In [63]:
#create a new csv
survey_df.to_csv("clean_survey_data.csv", header=True, index =False)

## Task 4: Normalize the JSON Data

In [67]:
#load the file
with open("raw_course_catalog.json", "r") as jsonfile:
    catalog_data = json.load(jsonfile) #makes a list of five elements
print(catalog_data)

[{'course_id': 'DS2002', 'section': '001', 'title': 'Data Science Systems', 'level': 200, 'instructors': [{'name': 'Austin Rivera', 'role': 'Primary'}, {'name': 'Heywood Williams-Tracy', 'role': 'TA'}]}, {'course_id': 'STAT4630', 'section': '001', 'title': 'Statistical Machine Learning', 'level': 400, 'instructors': [{'name': 'Shan Yu', 'role': 'Primary'}]}, {'course_id': 'STAT4170', 'section': '001', 'title': 'Financial Time Series', 'level': 400, 'instructors': [{'name': 'Jeffrey Woo', 'role': 'Primary'}]}, {'course_id': 'STAT3130', 'section': '001', 'title': 'Design and Analysis of Sample Surveys', 'level': 300, 'instructors': [{'name': 'Justin Weinstock', 'role': 'Primary'}]}]

In [69]:
#normalize json files
catalog_df = pd.json_normalize(catalog_data, record_path=['instructors'], meta=['course_id', 'title', 'level'])

In [70]:
#convert the dataframe to csv
catalog_df.to_csv("clean_course_catalog.csv", header=True, index =False)

# Part 3: The Schema Contract

In [74]:
#examine the data
clean_survey = pd.read_csv("clean_survey_data.csv")
clean_survey

   student_id       major  GPA  is_cs_major  credits_taken
0       12379          CS  3.2         True           16.0
1       12380        Math  3.0        False           13.0
2       12381          CS  2.1         True           15.0
3       12382     History  1.0        False            9.0
4       12383  Statistics  4.0        False           18.0

In [76]:
#examine the data
clean_catalog = pd.read_csv("clean_course_catalog.csv")
clean_catalog

,name,role,course_id,title,level
0,Austin Rivera,Primary,DS2002,Data Science Systems,200
1,Heywood Williams-Tracy,TA,DS2002,Data Science Systems,200
2,Shan Yu,Primary,STAT4630,Statistical Machine Learning,400
3,Jeffrey Woo,Primary,STAT4170,Financial Time Series,400
4,Justin Weinstock,Primary,STAT3130,Design and Analysis of Sample Surveys,300